* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  color: #fff;
}
.container {
  text-align: center;
  margin-top: 100px;

  @media (max-width: 450px) {
    width: 100%;
    align-items: center;
    margin-left: 5px;
  }
}
.container h2 {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 0 0 20px white;

  @media (max-width: 500px) {
    font-size: 30px;
    width: 200px;
    margin: 20px auto;
  }
}

.image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid red;
  box-shadow: 0px 0px 20px red;

  @media (max-width: 500px) {
    width: 200px;
    height: 200px;
  }
}
.countdown {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (max-width: 450px) {
    width: 300px;
    justify-content: center;
  }
}
.countdown-item {
  padding: 6px;
  width: 65px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 0px 0px 20px red;

  @media (max-width: 500px) {
    min-width: 30px;
    margin: 0 10px;
  }
  @media (max-width: 450px) {
    width: 20px;
    font-size: 12px;
  }
}
